
.container {
    background-color: black;
    display: flex;
    width: 962px;
    height: 962px;
    border: 1px solid black;
}

.container:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.rows {
    flex: 1;
    display: flex;
    flex-direction: column;

}
.row:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.col {
    background-color: white;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.col:before {
    content: '';
    display: block;
    padding-top: 100%;
}


button {
    padding: 10px;
    font-size: 15px;
    background-color: red;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 4px;
    color: black;
    margin-bottom: 8px;
}
